html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

iframe {
    border: none;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

p {
    color: #485460;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.btn,
button,
.actionbg {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}

.btn:hover,
button:hover {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

/*--/wrapper--*/
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*--//wrapper--*/
 .error-61-mian {
    background: url(https://testingcf.jsdelivr.net/gh/imgyh/tiktok/static/img/banner.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    height: 100vh;
    z-index: 0;
    position: relative;
    display: grid;
    align-items: center;
}

 .error-61-mian:before {
    content: "";
    background: rgba(66, 21, 2, 0.45);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

 .errors-16-top {
    max-width: 600px;
    margin: 0 auto;
    text-align: center
}

 .errors-16-mid {
    max-width: 600px;
    margin: 0 auto;
    text-align: center
}

 .error-61-mian h3 {
    font-size: 223px;
    line-height: 200px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

 .error-61-mian p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 1px;
}

 .error-page-form {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 5px;
    margin: 20px 0;
}

 .error-page-form input {
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    display: block;
    padding: 0.4em 1em;
    background: rgba(114, 51, 23, 0.75);
    letter-spacing: 1px;
    width: 79%;
    border-radius: 25px;
    margin-right: 1%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    background: transparent;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    background: transparent;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    background: transparent;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    background: transparent;
}

 .error-page-form button {
    color: var(--theme-green);
    background: #fff;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    width: 20%;
    display: block;
    border-radius: 25px;
}

 .error-page-form button:hover {
    color: #fff;
    background: #0099CC; /*#394247*/

}

 .social-coming-icons a {
    background: transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    margin-right: 12px;
    border: 2px solid #fff;
    color: #fff;
}

 .social-coming-icons a span {
    font-size: 18px;
    line-height: 30px;

}

 .social-coming-icons a:hover {
    color: #0099CC; /*#394247*/
    border: 2px solid #0099CC; /*#394247*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

 .copy-right {
    margin: 0 auto;
    text-align: center
}

 .copy-right p {
    font-size: 18px;
    line-height: 29px;
    color: #f9f9f9;
}

 .copy-right a {
    color: #00c4b6;
}

@media (max-width: 1280px) {
     .error-61-mian h3 {
        font-size: 180px;
        line-height: 170px;
    }
}

@media (max-width: 1280px) {
     .error-61-mian h3 {
        font-size: 125px;
        line-height: 120px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

@media (max-width: 990px) {
     .error-61-mian h3 {
        font-size: 125px;
        line-height: 110px;
    }
}

@media (max-width: 667px) {
     .error-61-mian h3 {
        font-size: 115px;
        line-height: 110px;
    }
}

@media (max-width: 600px) {
     .error-61-mian {
        background: url(https://testingcf.jsdelivr.net/gh/imgyh/tiktok/static/img/banner.jpg) no-repeat right;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
    }
}

@media (max-width: 440px) {
     .error-61-mian h3 {
        font-size: 105px;
        line-height: 100px;
    }
}

@media (max-width: 384px) {
     .error-61-mian h3 {
        font-size: 95px;
        line-height: 90px;
    }
}

/*加载动画*/
.loading {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(45deg);
    animation: animationContainer 1s ease infinite;
    margin: 0 auto;
    display: none;
}

.shape {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}

.shape-1 {
    background-color: #1875e5;
    left: 0;
    animation: animationShape1 0.3s ease infinite alternate;
}

.shape-2 {
    background-color: #c5523f;
    right: 0;
    animation: animationShape2 0.3s ease infinite 0.3s alternate;
}

.shape-3 {
    background-color: #499255;
    bottom: 0;
    animation: animationShape3 0.3s ease infinite 0.3s alternate;
}

.shape-4 {
    background-color: #f2b736;
    right: 0;
    bottom: 0;
    animation: animationShape4 0.3s ease infinite alternate;
}

@keyframes animationContainer {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animationShape1 {
    0% {
        transform: translate(5px, 5px);
    }

    100% {
        transform: translate(-3px, -3px);
    }
}

@keyframes animationShape2 {
    0% {
        transform: translate(-5px, 5px);
    }

    100% {
        transform: translate(3px, -3px);
    }
}

@keyframes animationShape3 {
    0% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(-3px, 3px);
    }
}

@keyframes animationShape4 {
    0% {
        transform: translate(-5px, -5px);
    }

    100% {
        transform: translate(3px, 3px);
    }
}

/*加载动画*/

/*按钮样式*/
.btn {
    /* 文字颜色 */
    color: #0099CC;
    /* 清除背景色 */
    background: transparent;
    /* 边框样式、颜色、宽度 */
    border: 2px solid #0099CC;
    /* 给边框添加圆角 */
    border-radius: 6px;
    /* 字母转大写 */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn1 {
    background-color: white;
    color: black;
    border: 2px solid #0099CC;
}

/* 悬停样式 */
.btn1:hover {
    background-color: #0099CC;
    color: white;
}

/*按钮样式*/

/*头像框*/
.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nickname {
    display: flex;
    /*border-radius: 50%;*/
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo {
    float: left;
    width: 30%;
    height: 100%;
}

.info {
    float: right;
    width: 70%;
    height: 100%;
}

.icons {
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 30px;
}

.icon {
    flex: 1;
}

/*头像框*/

/*select 样式*/
.select {
    display: inline-block;
    width: 100px;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 25px;
    transition: box-shadow 0.25s ease;
    z-index: 2;
}

.select:hover {
    box-shadow: 0 1px 4px #0099CC; /*rgba(0, 0, 0, 0.15)*/
    background-color: #0099CC;
    color: white;
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}

.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 18px;
}

.select select:focus {
    outline: none;
}

/*select 样式*/

/*视频播放相关*/
#show-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10 !important;
    background: rgba(0, 0, 0, .85);
    display: none;
}

.video-close {
    width: 45px;
    height: 45px;
    color: #211d1e;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 10 ;
    cursor: pointer;

}

#show-video video {
    outline: none;
    max-width: 85%;
    max-height: 88vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px rgb(0 0 0 / 50%);
}
